<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="50" height="50" viewBox="-10 -20 50 50">
  <defs>
    <style>
      .cls-1 {
        fill: #ccc;
        fill-rule: evenodd;
      }

      .cls-2 {
        fill: #d3350a;
      }

      .cls-3 {
        fill: #e1e32c;
      }
    </style>
  </defs>
  <g>
    <g>
      <path d="M31.007,5.999 L9.025,5.999 L9.025,3.999 L31.007,3.999 L31.007,5.999 Z" class="cls-1"/>
      <circle cx="5.016" cy="5" r="5.016" class="cls-2"/>
    </g>
    <g>
      <path d="M8.994,17.994 L30.994,17.994 L30.994,19.994 L8.994,19.994 L8.994,17.994 Z" class="cls-1"/>
      <circle cx="5" cy="19" r="5" class="cls-3"/>
    </g>
  </g>
</svg>
