@charset "utf-8";

// -- + devise breakpoint + -------------
$desktop: new-breakpoint(min-width 880px 12);
$tablet:  new-breakpoint(min-width 768px 12);
$mobile:  new-breakpoint(max-width 750px 12);

// -- + typography + -------------
$default_color: #000;
$hiragino: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", $helvetica;

// -- + color + -------------

// -- + size + -------------

// -- + function + -------------
