@charset "utf-8";

// admin.scss

// ==========================================================================
//
//  ++ general ++
//
// ==========================================================================

body.admin {
  @include display(flex);
  @include justify-content(flex-start);
  @include align-items(stretch);
  @include flex-direction(column);

  @include linear-gradient(90deg, #222, #222);
  height: auto;

// --------------------------------
//                     + header +
// --------------------------------

// -- + common + -------------
header {
  #logo {
    img {
      @include filter(invert(90%));
    }
  }
}
// common

// -- + desktop + -------------
@include media($desktop) {
  header {
    width: 100%;
    padding: 0;

    .wrapper {
      @include display(flex);
      @include justify-content(flex-start);
      @include align-items(stretch);
      @include flex-direction(row);
      
      position: absolute;
      left: 0;
      width: 100%;
      height: 90px;

      .left {
        @include flex(1);

        z-index: 2;

        #user {
          @include display(flex);
          @include justify-content(flex-start);
          @include align-items(center);
          @include flex-direction(row);

          @include texture(100deg, #222, #1c1c1c, 77, 0);
          width: 100%;
          height: 120px;
          @include transition(all 0.1s linear);

          .nameplate {
            @include display(flex);
            @include justify-content(center);
            @include align-items(center);
            @include flex-direction(column);

            width: 62%;
            max-width: 150px;
            padding: 0 10px;

            span {
              color: #777;
              font-family: $jp_gothic;
              font-size: 12px;
              text-align: center;
              line-height: 150%;

              &.name {
                color: #bbb;
                font-size: 16px;
              }
            }
          }
          > .icon {
            cursor: pointer;
            position: relative;
            z-index: 100;
            @include to_icon($icon_size * 0.60);
            @include transition(all 0.2s linear);

            &:hover {
              opacity: 0.6;
            }
            &.active {
              opacity: 0.6;
            }
          }
          > .profile-menu {
            @include display(flex);
            @include justify-content(center);
            @include align-items(stretch);
            @include flex-direction(column);

            position: absolute;
            top: 25px;
            z-index: 100;
            border-radius: 1px;
            background: #345;
            width: 150px;
            height: 70px;
            margin-left: 10px;
            padding: 4px;

            &:after {
              position: absolute;
              top: 29px;
              left: -6px;
              display: block;
              content: '';
              @include triangle(12px, #345, left);
            }
            > a {
              @include flex(1);

              @include display(flex);
              @include justify-content(center);
              @include align-items(center);
              @include flex-direction(row);

              border-radius: 2px;
              background: lighten(#345, 10%);
              margin-bottom: 3px;
              color: #aaa;
              font-family: $jp_gothic;
              font-size: 12px;
              text-align: center;
              @include transition(all 0.2s linear);

              &:last-child {
                margin-bottom: 0;
              }
              &:hover {
                background: darken(#345, 5%);
              }
            }
          }
        }
      }
      .right {
        @include flex(5);

        position: relative;
        z-index: 0;
        padding: 0 20px;
      }
    }
    .inner {
      z-index: 1;

      #logo {
        margin: 0 auto;
      }
    }
  }
}
// desktop

// -- + mobile + -------------
@include media($mobile) {
}
// mobile



// --------------------------------
//                     + contents_nav +
// --------------------------------

// -- + common + -------------
// common
// -- + desktop + -------------
@include media($desktop) {
  #main {
    #contents_nav {
      @include flex(1);

      ul {
        li {
          a {
            display: block;
            border-left: 3px solid #000;
            background: #2d2d2d;
            padding: 0.9em 1.4em;
            font-family: $jp_gothic;
            font-size: 13px;
            color: #999;

            &:hover {
              border-left: 3px solid #ffe;
              background: #333;
              color: #eee;
            }
            i:first-child {
              margin-right: 6px;
            }
          }
          ul {
            display: none;

            li {
              padding-left: 10px;

              a {
                border-left: 3px solid #222;
                background: #222;
                box-shadow: -1px 0 0 #383838;

                &.current i {
                  color: #dd4b39;
                }
                > i {
                  color: #456;
                }
              }
            }
          }
        }
      }
      > ul > li > a {
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);
        @include flex-direction(row);

        &.current {
          border-left: 3px solid #dd4b39;
        }
        > span {
          @include flex(1);
        }
        > i:last-child {
          color: #ffa;
          font-size: 16px;

          &.fa-angle-left {
            margin-right: 3px;
          }
        }
      }
    }
    #contents_field {
      @include flex(5);
      
      background: #eee;
      padding: 20px;

      > h2 {
        padding: 0 0 20px;
        font-family: $jp_gothic;
        font-size: 28px;

        .anc {
          color: #999;
          font-size: 16px;
        }
        .current {
          display: inline-block;
          border-bottom: 1px solid #ccc;
          border-radius: 2px;
          background: #fff;
          margin-left: 10px;
          padding: 10px 18px;
          letter-spacing: 0.4px;
        }
      }
    }
  }
}
// desktop
// -- + mobile + -------------
// mobile



// --------------------------------
//                     + contents area +
// --------------------------------

// -- + common + -------------
// common

// -- + desktop + -------------
@include media($desktop) {
  #main {
    @include flex(1);

    @include display(flex);
    @include justify-content(flex-start);
    @include align-items(stretch);
    @include flex-direction(row);

    padding-top: 30px;
  }
}
.local-menu {
  border-bottom: 1px solid #eee;
  background: #fff;
  padding: 8px 10px;

  ul {
    @include display(flex);
    @include justify-content(flex-start);
    @include align-items(flex-start);
    @include flex-direction(row);

    li {
      &:not(:last-child) {
        margin-right: 10px;
      }
      a {
        @include display(flex);
        @include justify-content(center);
        @include align-items(flex-start);
        @include flex-direction(row);

        border-radius: 4px;
        background: #ddd;
        width: 8%;
        min-width: 86px;
        padding: 10px 12px 8px;
        color: #888;
        font-family: $jp_gothic;
        font-size: 11px;

        @include transition(all 0.1s linear);

        &:hover {
          border-radius: 0;
          background: darken(#ddd, 15%);
          color: #555;
        }
        i {
          margin: -1px 6px 0 -2px;
          font-size: 14px;
        }
      }
    }
  }
}
// desktop

// -- + mobile + -------------
@include media($mobile) {
}
// mobile



// ==========================================================================
//
//  ++ posts index ++
//
// ==========================================================================

// -- + common + -------------
#main.index {
  font-family: $jp_gothic;
  color: #ddd;

  h2, p, a {
    font-family: $jp_gothic;
  }
}
// common

// -- + desktop + -------------
@include media($desktop) {
  #main.index {
    #contents_field {
      #posts {
        background: #fff;
        box-shadow: 0 1px 1px #ddd;
        padding: 20px 10px;

        .the-post {
          @include display(flex);
          @include justify-content(flex-start);
          @include align-items(stretch);
          @include flex-direction(row);

          border-left: 4px solid #f0f0f0;
          
          &:not(:last-child) {
            margin-bottom: 20px;
          }
          &:hover {
            border-left: 4px solid #ccc;
          }
          .article {
            @include flex(9);

            @include display(flex);
            @include justify-content(flex-start);
            @include align-items(stretch);
            @include flex-direction(row);

            background: #333;

            .info {
              @include flex(1);

              @include display(flex);
              @include justify-content(center);
              @include align-items(center);
              @include flex-direction(column);

              background: #f0f0f0;
              font-size: 10px;

              .author {
                @include flex(1);

                @include display(flex);
                @include justify-content(center);
                @include align-items(center);
                @include flex-direction(column);

                .icon {
                  @include to_icon($icon_size * 0.70);
                }
                span {
                  &.name {
                    padding-top: 4px;
                    color: #333;
                    font-size: 12px;
                  }
                  &.date {
                    padding-top: 4px;
                    color: #aaa;
                    font-size: 11px; 
                  }
                }
              }
            }
            .container {
              @include flex(4);

              @include display(flex);
              @include justify-content(flex-start);
              @include align-items(stretch);
              @include flex-direction(row);

              .image {
                @include flex(1);

                @include display(flex);
                @include justify-content(center);
                @include align-items(center);

                background-color: #393939;
                padding: 10px;

                img {
                  max-height: 100px;
                }
              }
              .text {
                @include flex(3);

                @include display(flex);
                @include justify-content(flex-start);
                @include align-items(center);
                @include flex-direction(row);

                p {
                  padding: 10px 20px;
                  color: #eee;
                  font-family: $jp_mincho;
                  font-size: 20px;
                  line-height: 140%;
                  letter-spacing: 0.5px;
                }
              }
            }
          }
          .tools {
            @include flex(1);

            @include display(flex);
            @include justify-content(center);
            @include align-items(center);
            @include flex-direction(column);

            background: #4d4d4d;
            padding: 10px 0;
            text-align: center;

            a {
              @include display(flex);
              @include justify-content(center);
              @include align-items(center);
              @include flex-direction(row);

              border-radius: 3px;
              background: #f0f0f0;
              width: 80%;
              padding: 3px 0;
              color: #666;
              font-size: 10px;
              text-align: center;
              
              &:hover {
                color: #00c0ef;
              }
              i {
                margin: 2px 4px 0 0;
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}
// desktop

// -- + mobile + -------------
@include media($mobile) {
}
// mobile



// ==========================================================================
//
//  ++ post new ++
//
// ==========================================================================

// -- + common + -------------
#draft_contents {
  .row {
    background: #fff;
    padding: 20px;

    &:nth-child(odd) .inner {
      background: #222222;
    }
    &:nth-child(even) .inner {
      background: #363636;
    }
    > ul {
      overflow: hidden;
      display: inline-block;
      border-radius: 18px;
      margin-bottom: 4px;

      li {
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);
        @include flex-direction(row);

        cursor: pointer;
        float: left;
        background: #f0f0f0;
        padding: 6px 16px;
        color: #666;
        font-family: $jp_gothic;
        font-size: 12px;
        @include transition(all 0.1s linear);

        &.current {
          background: #2e6ace;
          color: #fff;
        }
        &:last-child {
          border-right: 1px solid transparent;
        }
        &:hover {
          background: darken(#2e6ace, 15%);
          color: #fff;
        }
      }
    }
    .inner > form {
      @include display(flex);
      @include justify-content(flex-start);
      @include align-items(stretch);
      @include flex-direction(row);

      .comment {
        @include flex(1);

        @include display(flex);
        @include justify-content(flex-end);
        @include align-items(stretch);
        @include flex-direction(column);

        .icon {
          @include display(flex);
          @include justify-content(center);

          @include to_icon($icon_size);
          position: relative;
          margin: 0 auto;
        }
        .sentence {
          width: 100%;

          p {
            color: #fff;
          }
          textarea {
            border: none;
            background: transparent;
            color: #fff;
            font-family: $jp_mincho;
          }
        }
        .seed {
          border-top: 1px solid #aaa;
          margin-top: auto;
          font-family: $jp_gothic;
          text-align: center;

          > span {
            display: block;
            overflow: hidden;
            color: #bbb;
            
            span {
              color: #666;
            }
            input {
              border: none;
              border-bottom: 1px solid #444;
              background: transparent;
              
              &[type="text"] {
                width: 68%;
              }
            }
          }
        }
      }
      .image {
        @include flex(1);

        position: relative;
        background-color: #333;
        background-position: center center;
        background-size: contain;

        img {
          width: 100%;
        }
        input {
          border: none;
          border-bottom: 1px solid #444;
          background: transparent;
          color: #999;

          &[type="text"] {
            width: 68%;
          }
        }
      }
    } // .inner > form
    .inner.single > form {
      .comment {
        padding: 40px 16px 0;
      }
    } // .inner.single > form
    .inner.talk > form {
      @include flex-direction(column);

      .talk-title {
        @include display(flex);
        @include justify-content(flex-start);
        @include align-items(stretch);
        @include flex-direction(row);

        .comment {
          @include align-items(center);

          > span {
            display: block;
            border-top: 1px solid #404040;
            border-bottom: 1px solid #404040;
            width: 100%;
            padding: 9px;
            color: #aaa;
            font-size: 13px;
            text-indent: 0.6em;
            text-align: center;
            letter-spacing: 0.6em;
          }
          .icons {
            @include display(flex);
            @include justify-content(center);
            @include align-items(center);
            @include flex-direction(row);

            width: 300px;
            margin: 44px 0 22px;

            svg {
              width: 40px;
              stroke: #aaa;
            }
          }
        }
      } // .talk-title
      .talk-body {
        margin-top: 40px;

        #title {
          position: relative;

          .bg {
            position: absolute;
            background-color: #aaa;
            background-position: center center;
            background-size: cover;
            width: 100%;
            height: 100%;

            @include filter(grayscale(90%) brightness(40%) contrast(120%));
          }
          .container {
            @include display(flex);
            @include justify-content(center);
            @include align-items(center);
            @include flex-direction(column);

            position: relative;

            .icons {
              @include display(flex);
              @include justify-content(center);
              @include align-items(center);
              @include flex-direction(row);

              svg {
                stroke: #eee;
              }
            }
            .text {
              h1 {
                color: #fff;
                text-align: center;
                text-shadow: 0 0 10px rgba(0,0,0,0.4);
              }
            }
          } // .container
        } // #title
        #summary {
          @include texture(100deg, #222, #111, 77, 0);
          width: 100%;

          textarea {
            display: block;
            border: 1px solid transparent;
            background: transparent;
            width: 100%;
            color: #666;
            font-family: $jp_mincho;

            &:focus {
              border: 1px solid #00c0ef;
            }
          }
        } // #summary
        #body {
          background: #f0f0f0;
          @include linear-gradient(90deg, #fefefe, #f0f0f0);
          color: #444;

          .container {
            @include display(flex);
            @include justify-content(flex-start);
            @include align-items(center);
            @include flex-direction(column);

            margin: 0 auto;

            > div > img {
              position: absolute;
              display: block;
            }
          } // .container
          .insert-element {
            padding-bottom: 40px;
            text-align: center;

            button {
              border: none;
              background: #aaa;
              width: 200px;
              height: 40px;
              margin: 0 10px;
              color: #eee;
              font-size: 14px;
              @include transition(all 0.1s linear);

              > i {
                margin-right: 0.4em;
              }
              &:hover, &:focus {
                background-color: #345;
              }
            }
          }
        } // #body
      } // .talk-body
    } // .inner.talk > form
  } // .row
} // #draft_contents
// common
// -- + desktop + -------------
@include media($desktop) {
  #draft_contents {
    .row {
      position: relative;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
      .inner > form {
        padding: 30px;

        .comment {
          position: relative;

          .icons {
            > .icon {
              display: table;

              &:hover {
                cursor: pointer;

                &:after {
                  display: table-cell;
                  background: rgba(5,20,60,0.7);
                  @include to_icon($icon_size);
                  padding-bottom: 2px;
                  content: '\f0ad';
                  color: rgba(155,170,250,1);
                  font-family: 'FontAwesome';
                  font-size: 40px;
                  text-align: center;
                  vertical-align: middle;
                  box-shadow: 0 0 1px 0 rgba(5,20,60,0.7) inset;
                }
              }
            }
          } // .icons
          #user_search {
            @include display(flex);
            @include justify-content(flex-end);
            @include align-items(center);
            @include flex-direction(column);

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            min-height: 300px;

            .container {
              @include display(flex);
              @include justify-content(flex-start);
              @include align-items(flex-start);
              @include flex-direction(column);

              background: rgba(0,0,0,0.9);
              width: 85%;
              height: 55%;
              padding: 0 10px 10px;

              .tools {
                @include display(flex);
                @include justify-content(flex-start);
                @include align-items(center);
                @include flex-direction(row);

                width: 100%;
                margin: 10px 0;
                
                .search-box {
                  @include flex(1);

                  input {
                    border-top: 1px solid transparent;
                    border-right: 1px solid transparent;
                    border-bottom: 1px solid transparent;
                    border-left: 1px solid transparent;
                    background-image: image-url("search_icon.svg");
                    background-size: 14px;
                    background-position: 4px center;
                    background-repeat: no-repeat;
                    background-color: rgba(21,21,21,0.8);
                    width: 60%;
                    padding: 4px 6px;
                    color: #888;
                    font-size: 13px;
                    @include transition(all 0.2s linear);

                    &:focus {
                      border: 1px solid #00c0ef;
                      background-color: #111;
                      background-position: -20px center;
                    }
                  }
                }
                .close-icon {
                  a {
                    color: #FF5959;
                    font-size: 22px;
                  }
                }
              }
              .results {
                overflow: scroll;
                background-color: rgba(21,21,21,0.8);
                width: 100%;
                height: 80%;
                box-shadow: 0 0 1px rgba(30,30,30,1) inset;

                ul {
                  @include display(flex);
                  @include justify-content(center);
                  @include align-items(flex-start);
                  @include flex-direction(row);
                  @include flex-wrap(wrap);

                  li {
                    margin: 10px;
                    img {
                      @include to_icon(50px);
                    }
                  }
                }
              }
            }
          } // #user_search
          .sentence {
            @include flex(1);

            @include display(flex);
            @include justify-content(flex-start);
            @include align-items(stretch);
            @include flex-direction(row);

            padding: 22px 0 30px;

            textarea {
              border: 1px solid transparent;
              width: 100%;
              font-size: 40px;
              line-height: 145%;

              &:focus {
                border: 1px solid #00c0ef;
              }
            }
          }
          .seed {
            padding-top: 8px;

            > span {
              height: 56px;
              font-size: 14px;
              line-height: 22px;

              span {
                font-size: 12px;
              }
              input[type="text"] {
                padding: 6px 10px;
                color: #555;
                font-size: 12px;

                &:focus {
                  border-bottom: 1px solid #00c0ef;
                }
              }
              .btn {
                border-bottom: 1px solid #444;
                background: #444;
                padding: 4px 20px;
                color: #999;
                font-size: 11px;

                &:hover {
                  border-bottom: 1px solid #00c0ef;
                }
              }
            }
          }
        }
        .image {
          @include display(flex);
          @include justify-content(center);
          @include align-items(flex-start);
          @include flex-direction(column);

          background-repeat: no-repeat;

          .sticker {
            position: absolute;
            bottom: 0;
            width: 100%;
            
            .tab {
              display: block;
              background: rgba(34,34,34,0.4);
              width: 6em;
              margin-left: auto;
              padding: 4px;
              color: #555;
              font-size: 10px;
              text-align: center;
              text-transform: capitalize;

              @include transition(all 0.2s linear);

              &:hover {
                background: rgba(34,34,34,0.6);
              }
            }
            .form-parts {
              display: none;
              background: rgba(34,34,34,0.2);
              padding: 2px 12px;
              text-align: center;
              @include transition(all 0.2s linear);

              &:hover {
                background: rgba(34,34,34,0.9);
              }
              > input[type="text"] {
                border-bottom: 1px solid transparent;
                width: 100%;
                padding: 4px 0 2px;
                color: #555;
                font-size: 10px;
                text-align: center;

                &:hover:not(:focus) {
                  color: lighten(#00c0ef, 30%);
                }
                &:focus {
                  color: lighten(#00c0ef, 15%);
                }
              }
            }
          }
          > span {
            position: absolute;
            right: 0;
            bottom: -14px;
            font-size: 10px;
            color: #555;
          }
        }
      } // .inner > form
      .inner.single > form {
        .comment {
          padding: 40px 16px 0;
        }
      } // .inner.single > form
      .inner.talk > form {
        .talk-title {
          .comment {
            padding: 0 16px;
          }
        }
        .talk-body {
          #title {
            .container {
              padding: 10% 0;

              .icons {
                img {
                  @include to_icon($icon_size * 1.4);

                  margin: 0 40px;
                }
                svg {
                  width: 46px;
                }
              }
              .text {
                max-width: 780px;
                margin-top: 7%;
                
                h1 {
                  font-size: 68px;
                  text-shadow: 0 0 10px rgba(0,0,0,0.4);
                  line-height: 130%;
                }
              }
            }
          } // #title
          #summary {
            padding: 70px;

            textarea {
              max-width: 780px;
              min-height: 180px;
              margin: 0 auto;
              font-size: 17px;
              line-height: 180%;
            }
          } // #summary
          #body {
            .container {
              max-width: 800px;
              padding: 80px 0 40px;

              input[type="text"] {
                border: 1px solid transparent;
                background: transparent;
                width: 100%;
                margin: 30px 0;
                padding: 10px 0;
                font-family: $jp_mincho;
                font-size: 30px;
                text-align: center;
                line-height: 110%;

                &:focus {
                  border: 1px solid #00c0ef;
                }
              }
              > img {
                max-width: 100%;
                max-height: 600px;
                margin: 40px 0;
              }
              > div {
                @include display(flex);
                @include justify-content(flex-start);
                @include align-items(flex-start);
                @include flex-direction(row);

                position: relative;
                width: 660px;
                padding: 24px;
                
                > img {
                  border-radius: 60px;
                  background: #ddd;
                  width: 60px;
                  height: 60px;

                  @include filter(grayscale(95%) contrast(85%));
                }
                > textarea {
                  border: 1px solid transparent;
                  background: transparent;
                  width: 100%;
                  margin-top: -6px;
                  padding: 6px;
                  font-family: $jp_mincho;
                  font-size: 18px;
                  line-height: 150%;

                  &:focus {
                    border: 1px solid #00c0ef;
                  }
                }
                &.first-person {
                  margin-right: 40px;

                  > img {
                    left: -80px;
                  }
                }
                &.second-person {
                  margin-left: 40px;

                  > img {
                    right: -80px;
                  }
                }
                &.end {
                  padding: 60px 0 40px;
                  text-align: center;
                }
              }
            } // .container
          } // #body
        } // .talk-body
      } // .inner.talk > form
      .bottom-menu {
        background: #444;
        padding: 8px 10px;
        
        ul {
          @include display(flex);
          @include justify-content(flex-end);
          @include align-items(flex-start);
          @include flex-direction(row);

          li {
            a {
              @include display(flex);
              @include justify-content(center);
              @include align-items(center);
              @include flex-direction(row);

              position: relative;
              border-radius: 4px;
              background: #005a70;
              padding: 10px 10px 10px 16px;
              font-family: $jp_gothic;
              color: #eee;
              font-size: 12px;

              img {
                opacity: 0;
                position: absolute;
                z-index: 9999;
                top: 0;
                left: 0;
                width: 30px;

                @include filter(invert(90%));
              }
              &:hover {
                border-radius: 0;
                background: #00c0ef;

                i {
                  left: -6px;

                  @include transform(rotate(-15deg));
                }
              }
              i {
                position: relative;
                left: -2px;
                margin: -1px 6px 0 -2px;
                font-size: 14px;
                
                @include transition(all 0.1s linear);
                @include transform(rotate(5deg));
              }
            }
          }
        }
      }
    } // .row
  } // #draft_contents
}
// desktop
// -- + mobile + -------------
// mobile



// ==========================================================================
//
//  ++ user index ++
//
// ==========================================================================

// -- + common + -------------
#main.users {
  #users {
    background: #fff;
    box-shadow: 0 1px 1px #ddd;
    font-family: $jp_gothic;

    .inner {
      @include display(flex);
      @include justify-content(flex-start);
      @include flex-direction(row);

      .card {
        position: relative;
        overflow: hidden;
        border-radius: 4px;
        border: 1px solid #ddd;
        @include transition(all 0.1s linear);

        &.first {
          @include order(-1);
        }
        &:hover {
          border: 1px solid #aaa;
        }
        .card-header {
          @include display(flex);
          @include justify-content(flex-start);
          @include align-items(center);
          @include flex-direction(row);

          position: relative;
          z-index: 2;
          border-bottom: 1px solid #ddd;

          // default
          background-color: #ddd;
          color: #333;

          &.admin {
            background-color: #D9DAAF;
            color: #676926;
          }
          &.author {
            background-color: #AFB0DA;
            color: #404280;
          }
          &.not-accepted {
            background-color: #AFD4DA;
            color: #264969;
          }
          .current {
            background-color: #fff;
            border: 1px solid #dd4b39;
            color: #dd4b39;
            text-align: center;
          }
        }
        > .body {
          @include display(flex);
          @include justify-content(center);
          @include align-items(center);
          @include flex-direction(column);

          position: relative;

          > a.menu-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1;
            font-size: 18px;
          }
          .text {
            @include display(flex);
            @include justify-content(flex-start);
            @include align-items(center);
            @include flex-direction(column);

            font-family: 'Lato' sans-serif;
            text-align: center;

            .username {
              font-weight: 700;
            }
            .email {
              font-weight: 400;
            }
          }
          .detail {
            @include display(flex);
            @include justify-content(flex-start);
            @include align-items(flex-start);
            @include flex-direction(column);

            display: none;
            opacity: 0;
            position: absolute;
            top: -101%;
            left: 0;
            background-color: #fff;
            width: 100%;
            height: 100%;

            .container {
              dl {
                div {
                  @include display(flex);
                  @include justify-content(flex-start);
                  @include align-items(flex-start);

                  &.row {
                    @include flex-direction(row);
                  }
                  &.column {
                    @include flex-direction(column);
                  }
                }
              }
            }
            .container.top {
              @include display(flex);
              @include justify-content(flex-start);
              @include align-items(stretch);
              @include flex-direction(row);

              width: 100%;

              .outer {
                @include display(flex);
                @include justify-content(center);
                @include align-items(center);
                @include flex-direction(row);
              }
              > dl {
                @include flex(1);

                > .row {
                  @include align-items(flex-end);

                  .row.id {
                    @include flex(1);

                    @include display(flex);
                    @include justify-content(flex-start);
                    @include align-items(baseline);
                    @include flex-direction(row);
                  }
                  .row.fb {
                    @include flex(2);

                    @include display(flex);
                    @include justify-content(flex-end);
                    @include align-items(flex-start);
                    @include flex-direction(row);

                    dt {
                      i {
                        margin-right: 4px;
                        font-size: 18px;
                      }
                    }
                    dd {
                      i.fa-check-circle {
                        margin-right: 1px;
                      }
                    }
                    &.linked {
                      dt {
                        color: #343C80;
                      }
                      dd {
                        i.fa-check-circle {
                          color: #0EB10E;
                        }
                      }
                    }
                    &.unlinked {
                      dt, dd {
                        color: #ccc;
                      }
                    }
                  }
                }
              }
            }
          } // .detail
        } // > .body
      } // .card
    }
  }
} // #main.users

// -- + desktop + -------------
@include media($desktop) {
  #main.users {
    #users {
      padding: 20px;

      .inner {
        @include flex-wrap(wrap);

        .card {
          min-width: 280px;
          max-width: 320px;
          margin: 0 0.5%;

          .card-header {
            height: 28px;
            padding: 4px 3%;
            font-size: 14px;

            > span {
              @include flex(1);

            }
            .current {
              max-width: 8em;
              padding: 1px;
              font-size: 12px;
            }
          } // .card-header
          > .body {
            padding: 27% 0;

            > .icon {
              @include to_icon($icon_size * 1.2);
              margin-bottom: 15%;
            }
            .text {
              .username {
                font-size: 20px;
                letter-spacing: 0.5px;
              }
              .email {
                font-size: 14px;
                line-height: 200%;
              }
            }
            .detail {
              padding: 14% 7% 7%;
              font-size: 12px;

              .container.top {
                margin-bottom: 10px;

                .outer {
                  > .icon {
                    @include to_icon($icon_size * 0.75);
                  }
                }
                dl {
                  margin-left: 16px;

                  > div {
                    &.row {
                      margin-bottom: 6px;

                      .row.id {
                        line-height: 100%;

                        dt {
                          margin-right: 2px;
                          font-size: 11px;
                        }
                        dd {
                          font-size: 13px;
                        }
                      }
                    }
                    &.column {
                      margin-bottom: 2px;
                      line-height: 100%;

                      dt {
                        color: #ccc;
                        font-size: 11px;
                        letter-spacing: 0.5px;
                      }
                      dd {
                        font-size: 12px;
                      }
                    }
                  }
                }
              }
              .container.bottom {
                width: 100%;

                dl {
                  > div {
                    line-height: 110%;
                    margin-bottom: 4px;

                    dt {
                      color: #ccc;
                      font-size: 11px;
                      letter-spacing: 0.5px;
                    }
                    dd {
                      font-size: 12px;
                    }
                    &.name {
                      margin: 20px 0;
                      line-height: 130%;

                      &.row {
                        @include display(flex);
                        @include justify-content(flex-start);
                        @include align-items(flex-start);
                        @include flex-direction(row);

                        > * {
                          @include flex(1);
                        }
                      }
                      dd {
                        font-size: 14px;
                      }
                    }
                  }
                }
              }
            } // .detail
          } // > .body
        } // .card
      } // .inner
    } // #users
  } // #main.users
} // desktop

// -- + common + -------------
@include media($mobile) {
  #main.users {

  } // #main.users
} // mobile



// ==========================================================================
//
//  ++ user new ++
//
// ==========================================================================

// -- + common + -------------
#main.new-user {
  #user {
    @include display(flex);
    @include justify-content(flex-start);
    @include align-items(flex-start);
    @include flex-direction(column);

    background: #fff;
    box-shadow: 0 1px 1px #ddd;
    font-family: $jp_gothic;

    .container {
      @include display(flex);
      @include justify-content(flex-start);
      @include align-items(flex-start);
      @include flex-direction(row);

      width: 100%;

      form {
        width: 100%;
        
        .row {
          @include display(flex);
          @include justify-content(flex-start);
          @include align-items(flex-start);
          @include flex-direction(row);

          background: #222;

          .inputs {
            @include flex(1);

            h3 {
              border-top: 1px solid #404040;
              border-bottom: 1px solid #404040;
              color: #ccc;
              font-size: 13px;
              text-align: center;
              text-indent: 0.6em;
              letter-spacing: 0.6em;
            }
            > div {
              > span {
                display: inline-block;
                border-radius: 12px;
                margin-bottom: 10px;
                padding: 2px 10px;
                font-size: 10px;
                text-align: center;
                text-indent: 2px;
                letter-spacing: 1px;
              }
            }
            .input {
              @include display(flex);
              @include justify-content(flex-start);
              @include align-items(stretch);
              @include flex-direction(column);

              width: 60%;
              margin-bottom: 10px;
              color: #777;
              font-size: 13px;

              > input {
                border: 1px solid transparent;
                background: #333;
                color: #bbb;

                &:focus {
                  border: 1px solid #00c0ef;
                }
              }
            }
            .required {
              > span {
                border: 1px solid #ffa;
                color: #ffa;
              }
              .role {
                .input {
                  @include display(flex);
                  @include justify-content(flex-start);
                  @include align-items(flex-start);
                  @include flex-direction(row);
                  
                  label {
                    margin-right: 10px;

                    input {
                      margin-right: 4px;
                    }
                  }
                }
              }
            } // .required
            .option {
              > span {
                border: 1px solid #777;
                color: #777;
              }
              .name {
                @include display(flex);
                @include justify-content(flex-start);
                @include align-items(flex-start);
                @include flex-direction(row);
              }
            } // .option
          } // .inputs
          .preview {
            @include flex(1);

            background: #222;

            > .body {
              background: image-url("mail_stripe.png");

              > .inner {
                background-color: #f0f0f0;
              }
            }
          } // .preview
        } // .row
      } // form
    } // .container
    .controls {
      width: 100%;

      ul {
        @include display(flex);
        @include justify-content(center);
        @include align-items(flex-start);
        @include flex-direction(row);

        li {
          a {
            display: block;
            background: #aaa;
            color: #eee;
            font-size: 14px;
            font-family: $jp_gothic;
            text-align: center;
            @include transition(all 0.2s linear);

            &:hover {
              background: #345;
            }
            i {
              margin-right: 4px;
            }
          }
        }
      }
    } // .controls
  } // #user
} // #main.new-user
// common

// -- + desktop + -------------
@include media($desktop) {
  #main.new-user {
    #user {
      padding: 20px;

      .container {
        form {
          .row {
            @include align-items(stretch);
            
            padding: 30px;

            .inputs {
              margin-right: 20px;

              h3 {
                padding: 9px;
                color: #aaa;
              }
              .input {
                > input {
                  padding: 4px 6px;
                }
              }
              .required {
                padding: 20px 0;

                > span {}
              }
              .option {
                padding: 20px 0 0;

                .name > .input:first-child {
                  margin-right: 10px;
                }
                .name > .input:last-child {
                  margin-left: 10px;
                }
              }
            }
            .preview {
              h3 {
                padding: 10px 0;
                color: #999;
                font-family: $jp_gothic;
                font-size: 13px;
              }
              > .body {
                margin-top: 2px;
                padding: 5px;

                > .inner {
                  background: #fff;
                  padding: 22px 32px 32px;

                  &::before {
                    content: '';
                    display: block;
                    position: relative;
                    top: 0;
                    right: 0;
                    border: 2px solid #111;
                    background: image-url("antena-kun.png") no-repeat center center;
                    background-size: 75%;
                    width: 50px;
                    height: 50px;
                    margin-bottom: 10px;
                    padding: 6px;
                    @include filter(grayscale(100%) invert(60%));
                  }
                  > p {
                    color: #444;
                    font-family: $jp_gothic;
                    font-size: 12px;
                    line-height: 140%;

                    > .mail, &.accept, > .url {
                      color: #179;
                      text-decoration: underline;
                    }
                  }
                }
              }
            } // .preview
          } // .row
          .bottom-menu {
            background: #444;
            padding: 8px 10px;
        
            ul {
              @include display(flex);
              @include justify-content(flex-end);
              @include align-items(flex-start);
              @include flex-direction(row);

              li {
                a {
                  @include display(flex);
                  @include justify-content(center);
                  @include align-items(center);
                  @include flex-direction(row);

                  position: relative;
                  border-radius: 4px;
                  background: #005a70;
                  min-width: 86px;
                  padding: 10px 10px 10px 16px;
                  color: #eee;
                  font-family: $jp_gothic;
                  font-size: 12px;

                  &:hover {
                    border-radius: 0;
                    background: #00c0ef;

                    i {
                      left: -6px;
                      
                      @include transform(rotate(-15deg));
                    }
                  }
                  i {
                    position: relative;
                    left: -2px;
                    margin: -1px 6px 0 -2px;
                    font-size: 14px;

                    @include transition(all 0.1s linear);
                    @include transform(rotate(5deg));
                  }
                }
              }
            }
          } // .bottom-menu
        } // form
      } // .container
      .controls {
        padding-top: 20px;

        ul {
          li {
            margin: 0 20px;

            a {
              padding: 12px 40px;

              i {}
            }
          }
        }
      } // .controls
    } // #user
  } // #main.new-user
}
// desktop

// -- + mobile + -------------
@include media($mobile) {
  #main.new-user {
    #user {
      .container {
        form {
          .row {
            .inputs {
              h3 {}
              .input {

              }
              .required {
                > span {}
              }
              .option {

              }
            }
            .preview {

            } // .preview
          } // .row
        } // form
      } // .container
    } // #user
  } // #main.new-user
}
// mobile
























// ----------------------------
} // body.admin