@charset "utf-8";

// -- + import + -------------
@import "variables.scss";

// -- + include media snipet + -------------
// @include media($mobile) {}

// ==========================================================================
//
//  ++ general ++
//
// ==========================================================================

// --------------------------------
//                     + reset +
// --------------------------------
html, body,
h1, h2, h3, h4, h5,
p, a {
  margin: 0;
  color: $default_color;
  font-family: $default_font;
  text-decoration: none;
}
h1, h2, h3, h4, h5 {
  font-weight: normal;
}


// --------------------------------
//                     + global class +
// --------------------------------
.hidden {
  display: none !important;
}


// --------------------------------
//                     + bourbon +
// --------------------------------

// -- + neat + -------------

// -- + refills + -------------



// ==========================================================================
//
//  ++ header ++
//
// ==========================================================================

// -- + desktop + -------------
@include media($desktop) {
  header {
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(space-between);

    height: 90px;


  }
} // desktop



// ==========================================================================
//
//  ++ main ++
//
// ==========================================================================



// ==========================================================================
//
//  ++ footer ++
//
// ==========================================================================


