@charset "utf-8";

// -- + import + -------------
@import "variables.scss";

// ==========================================================================
//
//  ++ general ++
//
// ==========================================================================

// --------------------------------
//                     + reset +
// --------------------------------
html, body,
h1, h2, h3, h4, h5,
p, a {
  margin: 0;
  color: $default_color;
  font-family: $default_font;
  text-decoration: none;
}
h1, h2, h3, h4, h5 {
  font-weight: normal;
}


// --------------------------------
//                     + global class +
// --------------------------------
.hidden {
  display: none !important;
}


// --------------------------------
//                     + bourbon +
// --------------------------------

// -- + neat + -------------

// -- + refills + -------------



// ==========================================================================
//
//  ++ header ++
//
// ==========================================================================
header {
  border: 1px solid #222;
  height: 90px;
}



// ==========================================================================
//
//  ++ main ++
//
// ==========================================================================



// ==========================================================================
//
//  ++ footer ++
//
// ==========================================================================


