@charset "utf-8";

// ==========================================================================
//
//  ++ general ++
//
// ==========================================================================

// --------------------------------
//                     + reset +
// --------------------------------
html, body {
  background: #fff;
  height: 100%;
  min-height: 100vh;
}
html, body,
h1, h2, h3, h4, h5,
p, a {
  margin: 0;
  color: $default_color;
  font-family: $default_font;
  text-decoration: none;
  line-height: 100%;
}
h1, h2, h3, h4, h5 {
  font-weight: normal;
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
input, textarea {
  @include appearance(none);
  @include user-select(none);
  outline: none;
}
a, input[type="submit"] {
  cursor: pointer;
}


// --------------------------------
//                     + flash +
// --------------------------------
.flash {
  @include display(flex);
  @include justify-content(flex-start);
  @include align-items(center);
  @include flex-direction(column);

  position: absolute;
  // opacity: 0;
  top: 120px;
  z-index: 100;
  width: 100%;
  text-align: center;
  
  > p {
    display: inline-block;
    position: relative;
    box-shadow: 0px 1px 2px #eee;
    min-width: 30%;
    max-width: 70%;
    margin-bottom: 10px;
    padding: 12px 20px;
    font-family: $jp_gothic;
    font-size: 12px;
    line-height: 130%;

    &.notice {
      border-bottom: 1px solid #244e87;
      background: rgba(245,249,255,1.0);
      color: #244e87;
    }
    &.alert {
      border-bottom: 1px solid #878624;
      background: rgba(255,253,233,1.0);
      color: #6d6c12;
    }
  }
}


// --------------------------------
//                     + global class +
// --------------------------------
.hidden {
  display: none !important;
}



// ==========================================================================
//
//  ++ header ++
//
// ==========================================================================

// --------------------------------
//                     + default +
// --------------------------------

// -- + common + -------------
header {
  .inner {
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(space-between);
    @include align-items(center);

    width: 100%;
    margin: 0 auto;
    
    #menu, #projects {
      width: 50px;
    }
  }
  #side_menu {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);

    position: absolute;
    z-index: 100;
    border-top:    4px solid #333;
    border-bottom: 4px solid #333;
    border-left:   4px solid #222;
    border-right:  4px solid #222;
    background: #fff;
    box-shadow: 4px 4px 14px rgba(0,0,0,0.15); 
    
    .inner {
      @include display(flex);
      @include flex-direction(column);
      @include justify-content(center);
      @include align-items(center);

      table {
        border-collapse: separate;
        text-align: left;

        tr td {
          line-height: 130%;
          vertical-align: top;

          &:first-child {
            width: 22%;
          }
          a {
            color: #d3350a;
            font-size: 14px;
            line-height: 180%;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
// common

// -- + desktop + -------------
@include media($desktop) {
  header {
    height: 90px;
    padding: 0 30px;

    .inner {
      overflow: hidden;
      position: relative;
      width: 100%;
      max-width: $desktop_max_width;
      padding-top: 10px;

      #menu {
        cursor: pointer;
        margin-top: -10px;
        > svg {
          > g > g {
            @include transition(transform 0.3s $ease-out-quint);
          }
        }
        &:hover {
          > svg {
            > g {
              > g:nth-child(1) {
                @include transform(rotate(115deg) translate(-22px, -30px));
              }
              > g:nth-child(2) {
                @include transform(rotate(75deg) translate(-9px, -25px));
              }
            }
          }
        }
      }
      #logo {
        width: 128px;

        > img {
          opacity: 0;
          position: absolute;
          top: -15px;

          &.left {
            @include transform(scale(0.4));
            left: 45%;
          }
          &.right {
            @include transform(scale(-0.4, 0.4));
            right: 45%;
          }
        }
        &:hover {
          // antena-kun dash
          @keyframes dash_to_left {
            0%   { left: 38%; opacity: 1.0; }
            100% { left: -20%; opacity: 0.1; }
          }
          @keyframes dash_to_right {
            0%   { right: 38%; opacity: 1.0; }
            100% { right: -20%; opacity: 0.1; }
          }
          > img.left {
            @include animation(dash_to_left 1.5s $ease-in-out-circ);
          }
          > img.right {
            @include animation(dash_to_right 1.5s $ease-in-out-circ);
          }
        }
        a {
          margin: 0 auto;
        }
      }
    }
    #side_menu {
      left: -500px;
      width: 450px;
      height: 290px;

      .inner {
        margin-top: -3%;

        table {
          margin-top: 16px;
        }
      }
    }
  }
}
// desktop

// -- + mobile + -------------
@include media($mobile) {
  header {
    padding: 0 10px;

    .inner {
      padding: 4px 0 0;

      #menu {
        margin: -6px 0 0 -8px;
      }
      #logo {
        width: 128px;
        padding-top: 8px;

        > img {
          display: none;
        }
      }
      #projects {
        text-align: right;

        img {
          width: 33px;
          height: 49px;
        }
      }
    }
    #side_menu {
      left: -110%;
      width: 96%;
      height: 290px;
      margin: 0 2%;

      .inner {
        margin-top: -3%;
        font-size: 14px;

        h2 {
          width: 100%;
          text-align: center;
        }
        table {
          margin-top: 16px;
        }
      }
    }
  }
}
// mobile



// ==========================================================================
//
//  ++ main ++
//
// ==========================================================================



// ==========================================================================
//
//  ++ footer ++
//
// ==========================================================================


