@charset "utf-8";

// pages.scss

// ==========================================================================
//
//  ++ index ++
//
// ==========================================================================

// -- + common + -------------
#main.index {
  height: 100%;

  #first_image {
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);

    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin: 0 auto;
  }
  .divider {
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
  }
  #posts {
    .row {
      &:nth-child(odd) {
        background: #222222;
      }
      &:nth-child(even) {
        background: #363636;
      }
      .inner {
        @include outer-container;
        @include display(flex);
        @include align-items(stretch);
        
        .comment {
          @include flex-direction(column);
          @include justify-content(flex-end);

          .icon {
            @include display(flex);
            @include justify-content(center);

            @include to_icon($icon_size);
            margin: 0 auto;
          }
          .sentence {
            p {
              color: #fff;
            }
          }
          .seed {
            border-top: 1px solid #aaa;
            margin-top: auto;
            font-family: $jp_gothic;
            text-align: center;

            > span {
              display: block;
              overflow: hidden;
              color: #bbb;
              
              span {
                color: #666;
              }
            }
          }
        }
        .image {
          @include display(flex);
          @include flex-direction(column);
          @include justify-content(center);

          position: relative;

          span {
            display: block;
            background: rgba(34,34,34,0.2);
            width: 100%;
            color: #eee;
            font-family: $verdana;
            text-align: center;
            text-shadow: 0 0 1px #999;
            word-wrap: break-word;
          }
          img {
            width: 100%;
          }
        }
      } // .inner
    } // .row
  } // #posts
  #company {
    .top {
      @include display(flex);
      @include justify-content(space-between);

      margin: 0 auto;
      
      .left img {
        @include transform(rotate(-6deg));
      }
      .right img {
        @include transform(rotate(20deg));
      }
    }
    .text {
      text-align: center;

      table {
        margin: 0 auto;
        text-align: left;
        border-collapse: separate;
      
        td {
          vertical-align: top;
          
          &:first-child {
            white-space: nowrap;
          }
        }
      }
    }
    .map {
      iframe {
        display: block;
        margin: 0 auto;
      }
    }
  } // #company
} // #main.index
.to-top {
  @include display(flex);
  @include justify-content(flex-end);

  a {
    display: block;
    cursor: pointer;
  }
}
footer {
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);

  background: #333;
  
  p {
    color: #999;
  }
}
// common

// -- + desktop + -------------
@include media($desktop) {
  #main.index {
    #first_image {
      background-size: 65%;
      max-width: $desktop_max_width;
      height: 50%;
      min-height: 500px;
    }
    .divider {
      height: 100px;
    }
    #posts {
      .row {
        padding: 30px;

        .inner {
          max-width: $desktop_max_width;
      
          .comment {
            @include span-columns(6);
            @include display(flex);
            
            padding: 40px 16px 0;

            .sentence {
              padding-bottom: 30px;

              p {
                padding-top: 22px;
                font-size: 50px;
                line-height: 145%;
              }
            }
            .seed {
              margin-bottom: 2px;
              padding-top: 8px;
              line-height: 120%;
              
              > span {
                height: 44px;
                font-size: 14px;
                line-height: 22px;

                span {
                  font-size: 13px;
                }
              }
            }
          }
          .image {
            @include span-columns(6);
            @include display(flex);

            span {
              position: absolute;
              bottom: 0;
              padding: 3px 0;
              font-size: 10px;
            }
          }
        } // .inner
      } // .row
    } // #posts
    #company {
      margin-top: 240px;

      .top {
        max-width: $desktop_max_width;
        padding: 0 140px;

        .left img {
          @include transform(scale(0.85) rotate(-6deg));
          padding-top: 10px;
        }
        .right img {
          @include transform(scale(0.85) rotate(20deg));
          padding-top: 10px;
        }
      }
      .text {
        padding-top: 80px;

        h2 {
          font-size: 42px;
        }
        table {
          padding-top: 50px;
          font-size: 18px;
          line-height: 120%;
          border-spacing: 10px 6px;
        }
      }
      .map {
        margin-top: 70px;

        iframe {
          width: 60%;
          height: 550px;
        }
      }
    } // #company
  } // #main.index
  .to-top {
    margin-top: 120px;
    padding: 0 2% 2% 0;
  }
  footer {
    background: #333;
    height: 140px;

    p {
      color: #999;
      font-size: 24px;
    }
  }
}
// desktop

// -- + mobile + -------------
@include media($mobile) {
  #main.index {
    #first_image {
      background-size: 92%;
      height: 65%;
    }
    .divider {
      height: 10%;
    }
    #posts {
      .row {
        padding: 0;

        .inner {
          @include flex-direction(column);
          @include justify-content(center);
          
          .comment {
            @include span-columns(12);
            
            padding: 80px 4% 0;

            .icon {
              @include to_icon($icon_size * 0.85);
            }
            .sentence {
              padding-bottom: 20px;

              p {
                padding-top: 30px;
                font-size: 36px;
                text-align: justify;
                line-height: 140%;
              }
            }
            .seed {
              padding-top: 12px;
              
              > span {
                height: 40px;
                font-size: 10px;
                line-height: 18px;
              }
            }
          }
          .image {
            @include span-columns(12);
            @include display(flex);

            padding: 30px 4%;

            span {
              position: relative;
              padding: 4px 1%;
              color: #555;
              font-size: 10px;
              text-shadow: none;
            }
          }
        } // .inner
      } // .row
    } // #posts
    #company {
      margin-top: 100px;

      .top {
        padding: 0 4%;

        .left img {
          @include transform(scale(0.7) rotate(-6deg));
          padding-top: 10px;
        }
        .right img {
          @include transform(scale(0.7) rotate(20deg));
          padding-top: 10px;
        }
      }
      .text {
        padding-top: 50px;

        h2 {
          font-size: 28px;
          letter-spacing: 3px;
        }
        table {
          padding: 30px 2% 0;
          font-size: 14px;
          border-spacing: 10px 6px;
        }
      }
      .map {
        margin-top: 70px;

        iframe {
          width: 90%;
          height: 280px;
        }
      }
    } // #company
  } // #main.index
  .to-top {
    margin-top: 120px;
    padding: 0 2% 2% 0;

    a {
      img {
        width: 60px;
        height: 60px;
      }
    }
  }
  footer {
    background: #333;
    height: 140px;

    p {
      color: #999;
      font-size: 24px;
    }
  }
}
// mobile












