@charset "utf-8";

// -- + devise breakpoint + -------------
$desktop: new-breakpoint(min-width 880px 12);
$tablet:  new-breakpoint(min-width 768px 12);
$mobile:  new-breakpoint(max-width 750px 12);

// -- + typography + -------------
$default_color: #333;
$jp_gothic: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, $helvetica;
$jp_mincho: "Hiragino Mincho Pro", "ヒラギノ明朝 Pro W3", 游明朝, YuMincho, HG明朝E, $georgia;
$default_font: $jp_mincho;

// -- + color + -------------

// -- + size + -------------
$icon_size: 80px;
$desktop_max_width: 1300px;

// -- + function + -------------
@mixin to_icon($size) {
  @include calc(border-radius, $size / 2);
  background-position: center;
  background-size: cover;
  @include size($size);
}